@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Merriweather&display=swap');

body{
    font-family: 'Merriweather', serif;
}

/* Typography */

h1{
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #ab7e67;
}

h1.big{
    font-size: 80px;
    line-height: 110%;
    letter-spacing: 0;
    text-align: center;
    color:#261a34;
}

h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

h2.condensed{
    letter-spacing: 0;
    text-transform: capitalize;
    text-align: center;
    color: #fff8ed;
}

h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: center;
    color: #261a34;
}

h4{
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

h5{
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: capitalize;
}

p{
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1em;
    color: #261a34;
}

p.info{
    font-size: 20px;
    /* margin-bottom: 10px; */
    text-align: center;
}

.v120-h220{
    margin: 0 220px;
    padding: 120px 0;
}

.marginbot-50{
    margin: 0px 0px 50px 0px;
}

.marginbot-25{
    margin: 0px 0px 25px 0px;
}

.marginright-25{
    margin-right: 25px;
}

a{
    font-weight: 700;
    font-size: 32px;
    line-height: 100px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: center;
    color: #ab7e67;

    font-family: 'Merriweather', serif;
    text-decoration: none;

    margin: 0 75px;
}

button.bigbutton{
    font-family: inherit;
    padding: 20px 50px;
    border: 2px solid transparent;
    border-radius: 7.5px;
    background-color: #4e241d;
    color: #fff8ed;
    box-shadow: 5px 5px 0px #ab7e67;
}

button.bigbutton:hover{
    border: 2px solid #4e241d;
    background-color: #ab7e67;
    color: #4e241d;
    box-shadow: 5px 5px 0px #4e241d;
}